{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "debug model builder",
            "type": "cppdbg",
            "request": "launch",
            "stopAtEntry": true,
            "runInTerminal": false,
            "setupCommands": [
                {
                    "description": "enable pretty printing",
                    "text": "-enable-pretty-printing",
                    "ignoreFailures": false
                }
            ],
            "cwd": "/local/mnt/workspace/code/embedded_ai/artifacts/debug/tools/bin/",
            "program": "/local/mnt/workspace/code/embedded_ai/artifacts/debug/tools/bin/eai_builder",
            "args": []
        }
    ]
}
